<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-users4 mr-2"></i> <span class="font-weight-semibold">Cadastro</span> - Pessoa Fisica</h4>

        </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a href="#" class="breadcrumb-item">Módulo GI</a>
                <a href="#" class="breadcrumb-item">Cadastro</a>
                <span class="breadcrumb-item active">Pessoa Física</span>
            </div>

        </div>
        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="/console/gi/listar/pessoa-fisica" class="breadcrumb-elements-item">
                    <i class="icon-users4 mr-2"></i>
                    Listar
                </a>

            </div>
        </div>          
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <!--Inicio dados Gerais-->
                        <div class="card">
                            <div class="card-block">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">Dados Gerais</h5>
                                </div>


                                <div class="card-body">

                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Nome</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="nome" 
                                                   placeholder="Nome completo" ng-model="pessoaFisica.nome">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">CPF</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="cpf"
                                                   placeholder="CPF" ng-model="pessoaFisica.cpf">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Data nascimento</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="data-nascimento" 
                                                   placeholder="00/00/0000" ng-model="pessoaFisica.data_nascimento">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Estado civil</label>
                                        <div class="col-sm-10">
                                            <select class="custom-select" data-ng-options="a.valor for a in estadoCivil track by a.id" ng-model="pessoaFisica.estadoCivil" >
                                                <option value="">Selecione</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Conjugê</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="cpfConjuge" ng-blur="buscaConjuge()" placeholder="CPF" ng-model="pessoaFisica.conjuge.cpf">
                                        </div>

                                        <div class="col-md-7">
                                            <input type="text" class="form-control" readonly id="nome-conjuge" placeholder="Nome completo" ng-model="pessoaFisica.conjuge.nome">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Nacionalidade</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="nacionalidade" 
                                                   placeholder="Nacionalidade" ng-model="pessoaFisica.nacionalidade">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Tel. residencial</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="tel-residencial" 
                                                   placeholder="(xx) xxxx-xxxx" ng-model="pessoaFisica.telefoneResidencial" ui-br-phone-number-mask="areaCode">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Tel. celular</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="tel-celular" 
                                                   placeholder="(xx) xxxxx-xxxx" ng-model="pessoaFisica.telefoneCelular" ui-br-phone-number-mask="areaCode">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">E-mail</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="email" 
                                                   placeholder="E-mail" ng-model="pessoaFisica.email">
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!--Fim Dados Gerais-->

                        <!--Inicio Endereço-->
                        <div class="card">
                            <div class="card-block">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">Endereço</h5>
                                </div>


                                <div class="card-body">

                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">CEP</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="cep" 
                                                   placeholder="CEP" ng-blur="buscaCEP()" ng-model="pessoaFisica.cep" ui-br-cep-mask>
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Rua</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="rua" 
                                                   placeholder="Rua" ng-model="pessoaFisica.rua">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Número</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="numerpo" 
                                                   placeholder="Número" ng-model="pessoaFisica.numero">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Complemento</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="complemento" 
                                                   placeholder="Complemento" ng-model="pessoaFisica.complemento">
                                        </div>
                                    </div>  
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Bairro</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="bairro" 
                                                   placeholder="Bairro" ng-model="pessoaFisica.bairro">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Cidade</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="cidade" 
                                                   placeholder="Cidade" ng-model="pessoaFisica.cidade">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">UF</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="uf" 
                                                   placeholder="UF" ng-model="pessoaFisica.uf">
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!--Fim Endereço-->
                        <!--Inicio Dados bancários-->
                        <div class="card">
                            <div class="card-block">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">Dados bancários</h5>
                                </div>


                                <div class="card-body">

                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Banco</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" readonly id="codigo-banco" ng-model="bancoPessoa.banco.bancoId" >
                                        </div>

                                        <div class="col-md-7">
                                            <select class="custom-select" data-ng-options="a.nomeBanco for a in bancos track by a.bancoId" ng-model="bancoPessoa.banco" >
                                                <option value="">Selecione</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Agência</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="agencia-numero" placeholder="Número" ng-model="bancoPessoa.numAgencia">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="agencia-digito" placeholder="Dígito" ng-model="bancoPessoa.digitoAgencia">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Conta</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="conta-numero" placeholder="Número" ng-model="bancoPessoa.numConta">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="conta-digito" placeholder="Dígito" ng-model="bancoPessoa.digitoConta">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center">                                        
                                        <button type="submit" class="btn bg-blue ml-3" ng-click="adicionaBanco()">Adicionar <i class="icon-add ml-2"></i></button>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">


                                    </div>  
                                    <div  class="form-group row ml-3 mr-3">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 65px" class="text-center">Ação</th>
                                                        <th>Banco</th>
                                                        <th>Agência</th>
                                                        <th>Conta</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="p in pessoaFisica.dadosBancarios" >
                                                        <td style="width:10%" >
                                                            <a ng-click="editarBanco($index)" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                                            <a ng-click="removerBanco($index)" class="list-icons-item text-danger-600"><i class="icon-trash"></i></a>
                                                        </td>
                                                        <td >{{p.banco.nomeBanco}}</td>                                                    
                                                        <td >{{p.numAgencia}} - {{p.digitoAgencia}}</td>
                                                        <td >{{p.numConta}} - {{p.digitoConta}}</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <!--Fim Dados bancários-->
                        <!--Inicio Dados de renda-->
                        <div class="card">
                            <div class="card-block">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">Dados de renda</h5>
                                </div>


                                <div class="card-body">

                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Cargo/Profissão</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="cargo-profissao" 
                                                   placeholder="Cargo/Profissão" ng-model="rendaPessoa.profissao">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Cat. Profissional</label>
                                        <div class="col-sm-10">
                                            <select class="custom-select" data-ng-options="a.descricao for a in categoriaProfissional track by a.id" ng-model="rendaPessoa.categoriaProfissional" >
                                                <option value="">Selecione</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Valor da Renda</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="valor-renda" 
                                                   placeholder="Valor da Renda" ng-model="rendaPessoa.renda" ui-money-mask>
                                        </div>
                                    </div>                                    
                                    <!--                                    <div class="form-group row ml-3 mr-3">
                                                                            <label class="col-form-label col-lg-2">Comprovante</label>
                                                                            <div class="col-sm-10">
                                                                                <input type="file" id="comprovante" name="comprovante" class="form-control-uniform" ng-model="rendaPessoa.comprovante">
                                                                            </div>
                                                                        </div>                                    -->


                                    <div class="d-flex justify-content-center align-items-center">                                        
                                        <button type="submit" ng-click="adicionaRenda()" class="btn bg-blue ml-3">Adicionar <i class="icon-add ml-2"></i></button>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">


                                    </div>  
                                    <div class="form-group row ml-3 mr-3">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Ação</th>
                                                        <th>Cargo</th>
                                                        <th>Cat. Profissional</th>
                                                        <th>Renda</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="p in pessoaFisica.dadosRenda" >
                                                        <td style="width:10%" >
                                                            <a ng-click="editarRenda($index)" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                                            <a ng-click="removerRenda($index)" class="list-icons-item text-danger-600"><i class="icon-trash"></i></a>
                                                        </td>
                                                        <td >{{p.profissao}}</td>                                                    
                                                        <td >{{p.categoriaProfissional.descricao}}</td>
                                                        <td >R$ {{p.renda| number:2}}</td>
                                                    </tr>                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <!--Fim Dados de renda-->
                        <!--Inicio aplicações financeiras -->
                        <div class="card">
                            <div class="card-block">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">Aplicações Financeiras </h5>
                                </div>


                                <div class="card-body">

                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Tipo de ativo</label>
                                        <div class="col-sm-10">
                                            <select class="custom-select" data-ng-options="a.descricao for a in ativos track by a.id" ng-model="aplicacaoPessoa.tipoAtivo" >
                                                <option value="">Selecione</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Valor</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="valor-aplicacao-financeira" 
                                                   placeholder="Valor" ng-model="aplicacaoPessoa.valor" ui-money-mask>
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Liquidez</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="liquidez" 
                                                   placeholder="Liquidez" ng-model="aplicacaoPessoa.liquidez">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Rend. médio/mês</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="rendimento-medio" ui-percentage-mask 
                                                   placeholder="Rend. médio/mês" ng-model="aplicacaoPessoa.rendimento">
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center">                                        
                                        <button type="submit" class="btn bg-blue ml-3" ng-click="adicionaAplicaoFinanceira()">Adicionar <i class="icon-add ml-2"></i></button>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">


                                    </div>  
                                    <div class="form-group row ml-3 mr-3">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Ação</th>
                                                        <th>Tipo de ativo</th>
                                                        <th>Prazo</th>
                                                        <th>Liquidez</th>
                                                        <th>Rendimento</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="p in pessoaFisica.dadosAplicacoes" >
                                                        <td style="width:10%" >
                                                            <a ng-click="editarAplicaoFinanceira($index)" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                                            <a ng-click="removerAplicaoFinanceira($index)" class="list-icons-item text-danger-600"><i class="icon-trash"></i></a>
                                                        </td>
                                                        <td >{{p.tipoAtivo.descricao}}</td>                                                    
                                                        <td >R$ {{p.valor| number:2}}</td>
                                                        <td >{{p.liquidez}}</td>
                                                        <td >{{p.rendimento * 100| number:2}}%</td>
                                                    </tr>     
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <!--Fim aplicações financeiras -->
                        
                        <!--Inicio patrimônio -->
                        <div class="card">
                            <div class="card-block">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">Patrimônio </h5>
                                </div>


                                <div class="card-body">

                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Tipo de Patrimônio</label>
                                        <div class="col-sm-10">
                                            <select class="custom-select" data-ng-options="a.descricao for a in patrimonios track by a.id" ng-model="patrimonioPessoa.tipoPatrimonio" >
                                                <option value="">Selecione</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Valor de Mercado</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="valor-mercado" 
                                                   placeholder="Valor de Mercado" ng-model="patrimonioPessoa.valorDeMercado" ui-money-mask>
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Situação</label>
                                        <div class="col-sm-10">
                                            <select class="custom-select" data-ng-options="a.descricao for a in situacaoPatrimonio track by a.id" ng-model="patrimonioPessoa.tipoSituacaoPatrimonio" >
                                                <option value="">Selecione</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Saldo Devedor</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="saldo-devedor" 
                                                   placeholder="Saldo Devedor" ng-model="patrimonioPessoa.saldoDevedor" ui-money-mask>
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Situação Doc.</label>
                                        <div class="col-sm-10">
                                            <select class="custom-select" data-ng-options="a.descricao for a in situacaoDoc track by a.id" ng-model="patrimonioPessoa.tipoSituacaoDoc" >
                                                <option value="">Selecione</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center">                                        
                                        <button type="submit" ng-click="adicionaPatrimonio()" class="btn bg-blue ml-3">Adicionar <i class="icon-add ml-2"></i></button>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">


                                    </div>  
                                    <div class="form-group row ml-3 mr-3">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Ação</th>
                                                        <th>Tipo de Patrimônio</th>
                                                        <th>Valor</th>
                                                        <th>Situação</th>
                                                        <th>Saldo Devedor</th>
                                                        <th>Situação Doc.</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="p in pessoaFisica.dadosPatrimonio" >
                                                        <td>
                                                            <a ng-click="editarPatrimonio($index)"class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                                            <a ng-click="removerPatrimonio($index)"class="list-icons-item text-danger-600"><i class="icon-trash"></i></a>
                                                        </td>
                                                        <td >{{p.tipoPatrimonio.descricao}}</td> 
                                                        <td >R$ {{p.valorDeMercado| number:2}}</td>
                                                        <td >{{p.tipoSituacaoPatrimonio.descricao}}</td>
                                                        <td >R$ {{p.saldoDevedor| number:2}}</td>                                                        
                                                        <td >{{p.tipoSituacaoDoc.descricao}}</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <!--Fim patrimônio -->
                        <!--Inicio endividamento -->
                        <div class="card">
                            <div class="card-block">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">Endividamento de mercado </h5>
                                </div>


                                <div class="card-body">

                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Tipo de dívida</label>
                                        <div class="col-sm-10">
                                            <select class="custom-select" data-ng-options="a.descricao for a in dividas track by a.id" ng-model="endividamentoPessoa.tipoDivida" >
                                                <option value="">Selecione</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Prazo</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="prazo-divida" 
                                                   placeholder="Prazo" ng-model="endividamentoPessoa.prazo">
                                        </div>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Saldo devedor</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="saldo-devedor-divida" 
                                                   placeholder="Saldo devedor" ng-model="endividamentoPessoa.saldoDevedor" ui-money-mask>
                                        </div>
                                    </div> 
                                    <div class="form-group row ml-3 mr-3">
                                        <label class="col-form-label col-lg-2">Valor da parcela</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="valor-parcela-divida" 
                                                   placeholder="Valor da parcela" ng-model="endividamentoPessoa.valorParcela" ui-money-mask>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center">                                        
                                        <button type="submit" ng-click="adicionaEndividamento()" class="btn bg-blue ml-3">Adicionar <i class="icon-add ml-2"></i></button>
                                    </div>
                                    <div class="form-group row ml-3 mr-3">


                                    </div>  
                                    <div class="form-group row ml-3 mr-3">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Ação</th>
                                                        <th>Tipo de dívida</th>
                                                        <th>Prazo</th>
                                                        <th>Saldo devedor</th>
                                                        <th>Valor parcela</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="p in pessoaFisica.dadosEndividamento" >
                                                        <td style="width:10%" >
                                                            <a ng-click="editarEndividamento($index)" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                                            <a ng-click="removerEndividamento($index)" class="list-icons-item text-danger-600"><i class="icon-trash"></i></a>
                                                        </td>
                                                        <td >{{p.prazo}}</td>
                                                        <td >{{p.tipoDivida.descricao}}</td> 
                                                        <td >R$ {{p.saldoDevedor| number:2}}</td>
                                                        <td >R$ {{p.valorParcela| number:2}}</td>  
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <!--Fim endividamento -->

                        <div class="text-right mb-3">
                            <button type="submit" ng-click="save()" class="btn bg-blue-800 mr-3">Salvar <i class="icon-paperplane ml-2"></i>
                            </button>
                            <!-- Float Bottom right menu -->
                            <ul class="fab-menu fab-menu-fixed fab-menu-bottom-right">
                                <li>
                                    <a ng-click="save()" class="fab-menu-btn btn bg-blue-800 btn-float rounded-round btn-icon">
                                        <i class="fab-icon-open icon-paperplane"></i>
                                    </a>

                                </li>

                            </ul>
                            <!-- /bottom right menu -->
                        </div>

                    </form>

                </div>



            </div>
        </div>
    </div>

</div>
<!-- /content area -->
