<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-users4 mr-2"></i> <span class="font-weight-semibold">Cadastro</span> - Oportunidade</h4>

        </div>

    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a href="#" class="breadcrumb-item">Módulo GI</a>
                <a href="#" class="breadcrumb-item">Cadastro</a>
                <span class="breadcrumb-item active">Oportunidade</span>
            </div>

        </div>
        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="/console/gi/oportunidade/cadastrar" class="breadcrumb-elements-item">
                    <i class="icon-user-plus mr-2"></i>
                    Novo
                </a>

            </div>
        </div>        

    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title"></h5>

                </div>


                <fieldset class="ml-3 mr-3">  
                    <!--Inicio dados Gerais-->
                    <div class="card">
                        <div class="card-block">
                            <div class="card-header header-elements-inline">
                                <h5 class="card-title">Listar oportunidades</h5>
                            </div>


                            <div class="card-body">

                                <div class="form-group row ml-3 mr-3">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance"  width="100%" dt-column-defs="vm.dtColumnDefs">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Ação</th>
                                                    <th>Título</th>
                                                    <th>Nome do funíl</th>
                                                    <th>Etapa do funíl</th>
                                                    <th>ID Piperum</th>
                                                    <th>Proponente</th>
                                                    <th>Origem</th>
                                                    <th>Dono</th>
                                                    <th>Situação</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="p in oportunidades" >
                                                    <td style="width:15%" class="text-center" >
                                                        <a href="/console/gi/oportunidade/cadastrar" ng-click="$event.preventDefault(); editarOportunidade(p)" class="list-icons-item text-primary-600">
                                                            <i class="icon-pencil7"></i>
                                                        </a>
                                                        <a href="#" ng-click="$event.preventDefault(); abrirModalProponentesVendedoresProcuradores(p)" class="list-icons-item text-primary-600"><i class="icon-file-text2"></i></a>
                                                        <a href="#" class="list-icons-item text-danger-600"><i class="icon-trash"></i></a>
                                                    </td>
                                                    <td >{{p.titulo}}</td>                                                    
                                                    <td >{{p.nomeFunil}}</td>                                                    
                                                    <td >{{p.estapaFunil}}</td>                                                    
                                                    <td >{{p.piperunId}}</td>                                                    
                                                    <td >{{p.proponentes[0].pessoaFisica.nome}}</td>                                                    
                                                    <td >{{p.origem}}</td>                                                    
                                                    <td >{{p.dono}}</td>
                                                    <td class="text-center" ><p ng-bind-html="p.isAtivo | isAtivoFiltro"></p></td>  
                                                </tr>                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!--Fim Dados Gerais-->


                </fieldset>


            </div>
        </div>
    </div>

    <div id="modal_form_proponente_vendedores_procuradores" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Selecione de quem você deseja controlar os documentos</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div id="modal-body" class="modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">        
                    <div class="d-flex justify-content-center">
                        <table class="table table-xs table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Ação</th>
                                    <th class="text-center">Nome</th>
                                    <th class="text-center">Tipo</th>
                                    <th class="text-center">Condição</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in proponentesVendedoresProcuradores">
                                    <td class="text-center">
                                        <a class="btn btn-outline-info btn-sm" ng-click="$event.preventDefault(); abrirModalDocumentos(p)"  role="button">
                                            <span class="icon-list" title="Abrir documentos" aria-hidden="true"></span>
                                        </a>
                                    </td>                                    
                                    <td>{{p.nome}}</td>
                                    <td>{{p.tipo}}</td>
                                    <td>{{p.condicao}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>                    
                </div>
            </div>
        </div>
    </div> 

    <div id="modal_form_documentos" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar documentos</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div id="modal-body" class="modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">        
                    <div class="d-flex justify-content-center">

                        <div style="width: 100%" class="card-group-control card-group-control-left" id="accordion-control">
                            <!--Documentos de Identificação-->
                            <div class="card" ng-repeat="p in docsAgrupamento">
                                <div class="card-header">
                                    <h6 class="card-title">
                                        <a data-toggle="collapse" class="text-default" href="#{{$index}}" ng-click="$event.preventDefault();">
                                            {{p.nomeAgrupamento}}
                                        </a>
                                    </h6>
                                </div>

                                <div id="{{$index}}" class="panel-collapse collapse">
                                    <div class="card-body">
                                        <table class="table table-xs table-striped">
                                            <thead>
                                                <tr>                              
                                                    <th class="text-center">Descrição</th>                                                      
                                                    <th class="text-center">Data recebimento</th>                                                      
                                                    <th class="text-center">Data emissão</th>                                                      
                                                    <th class="text-center">Data validade</th>                                                      
                                                    <th class="text-center">Observações</th>                                                      
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="d in p.documentosRepeater">                                                                     
                                                    <td>{{d.descricao}}</td>                
                                                    <td>
                                                                                            
                                                        <input type="text" ng-blur ="savarDocumentos(d)" class="form-control form-control-sm formato_data" ng-model="d.documento[0].dataRecimento" ui-date-mask parse="false"  >                                                        
                                                    </td>                
                                                    <td>
                                                        <input type="text" ng-blur ="savarDocumentos(d); calculaValidade(d)" class="form-control form-control-sm"  ng-model="d.documento[0].dataEmissao" ui-date-mask parse="false"  >
                                                    </td>                
                                                    <td>
                                                        <input type="text" class="form-control form-control-sm" ng-model="d.documento[0].dataValidade" ui-date-mask parse="false"  >                  
                                                    </td>                
                                                    <td>
                                                        <input type="text" ng-blur ="savarDocumentos(d)" class="form-control form-control-sm" ng-model="d.documento[0].observacoes" >                           
                                                    </td>   

                                                </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>                    
                </div>
            </div>
        </div>
    </div>     





</div>
<!-- /content area -->
