<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>CrediClass - Aquisições Inteligentes</title>

        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/layout.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/components.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/colors.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/js/main/noty.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/angular-datatables.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/bootstrap4-toggle.min.css" rel="stylesheet" type="text/css"/>

        <!-- /global stylesheets -->



        <!-- /core JS files -->

        <!-- /theme JS files -->

    </head>

    <body>

        <!-- Page content -->
        <div class="page-content">


            <!-- Main content -->
            <div class="content-wrapper" ng-controller="autenticationController">
                <!-- Content area -->
                <div class="content d-flex justify-content-center align-items-center">
 
                    <!-- Login form -->
                    <form class="login-form" method="post">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                                    <h5 class="mb-0">Acessar sistema</h5>
                                    <span class="d-block text-muted">Infome seus dados</span>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="text" class="form-control" ng-model="credentials.username" name="username" placeholder="Usuário" autofocus="true">
                                    <div class="form-control-feedback">
                                        <i class="icon-user text-muted"></i>
                                    </div>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="password" class="form-control" ng-model="credentials.password" maxlength="10" minlength="6" name="password" placeholder="Senha">
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" ng-click="$event.preventDefault(); login()" class="btn btn-primary btn-block">Acessar <i class="icon-circle-right2 ml-2"></i></button>
                                </div>
                                <div class="text-center">
                                    <a>Esqueceu a senha?</a>
                                </div>

                            </div>
                        </div>
                    </form>
                    <!-- /login form -->


                </div>
                <!-- /content area -->




            </div>


        </div>
        <!-- Template JS files -->
        <script src="/assets/js/main/jquery.min.js"></script>
        <script src="/assets/js/main/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/main/blockui.min.js" type="text/javascript"></script>
        <script src="/assets/js/app.js"></script>
        <script src="/assets/js/main/jquery_ui/interactions.min.js" type="text/javascript"></script>
        <script src="/assets/js/main/jquery_ui/touch.min.js" type="text/javascript"></script>
        <script src="/assets/js/main/jquery.mask.js" type="text/javascript"></script>
        <script src="/assets/js/main/noty.min.js" type="text/javascript"></script>
        <script src="/assets/js/main/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="/assets/js/main/datatables.min.js" type="text/javascript"></script>
        <script src="/assets/js/main/datatables_libs/col_reorder.min.js" type="text/javascript"></script>     
        <script src="/assets/js/main/bootstrap4-toggle.min.js" type="text/javascript"></script>





        <!-- AngularJS libs files -->    
        <script src="/assets/js/main/angular.min.js" type="text/javascript"></script>
        <script src="/assets/js/main/angular-locale_pt-br.js" type="text/javascript"></script>
        <script src="/assets/js/main/angular-route.min.js" type="text/javascript"></script>
        <script src="/assets/js/main/angular-resource.min.js" type="text/javascript"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-input-masks/4.3.0/angular-input-masks-standalone.js" type="text/javascript"></script>        

        <script src="/assets/js/main/lodash.min.js" type="text/javascript"></script>
        <script src="/assets/js/main/angular-animate.min.js" type="text/javascript"></script>
        <script src="/assets/js/main/angular-datatables.js" type="text/javascript"></script>
        <script src="/assets/js/main/angular-datatables.util.js" type="text/javascript"></script>
        <script src="/assets/js/main/angular-datatables.options.js" type="text/javascript"></script>
        <script src="/assets/js/main/angular-datatables.instances.js" type="text/javascript"></script>
        <script src="/assets/js/main/angular-datatables.factory.js" type="text/javascript"></script>
        <script src="/assets/js/main/angular-datatables.renderer.js" type="text/javascript"></script>
        <script src="/assets/js/main/angular-datatables.directive.js" type="text/javascript"></script>




        <!-- AngularJS controllers and services --> 
        <script src="/app/app.js" type="text/javascript"></script>
        <script src="/app/service/messages.js" type="text/javascript"></script>
        <script src="/app/service/oportunidadeService.js" type="text/javascript"></script>
        <script src="/app/controller/administradora-controller.js" type="text/javascript"></script>
        <script src="/app/controller/permissao-usuario-controller.js" type="text/javascript"></script>
        <script src="/app/controller/usuario-controller.js" type="text/javascript"></script>
        <script src="/app/controller/grupo-consorcio-controller.js" type="text/javascript"></script>
        <script src="/app/controller/analise-grupo-consorcio-controller.js" type="text/javascript"></script>
        <script src="/app/controller/indexador-controller.js" type="text/javascript"></script>
        <script src="/app/controller/lance-consorcio-controller.js" type="text/javascript"></script>
        <script src="/app/controller/autenticacao-controller.js" type="text/javascript"></script>
        <script src="/app/controller/tipo-parcela-controller.js" type="text/javascript"></script>
        <script src="/app/controller/periodo-lances-controller.js" type="text/javascript"></script>
        <script src="/app/controller/pesquisa-rh-controller.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-pessoa-fisica-controller.js" type="text/javascript"></script>
        <script src="/app/controller/lista-pessoa-fisica-controller.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-pessoa-juridica-controller.js" type="text/javascript"></script>
        <script src="/app/controller/lista-pessoa-juridica-controller.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-banco-controller.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-estado-civil-controller.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-tipo-comprovante-renda.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-tipo-ativo-controller.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-tipo-divida-controller.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-tipo-patrimonio-controller.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-tipo-situacao-doc-controller.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-tipo-situacao-patrimonio-controller.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-tipo-categoria-profissional-controller.js" type="text/javascript"></script>
        <script src="/app/controller/lista-oportunidade-controller.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-oportunidade-controller.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-agrupamento-documento.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-documento-proponente.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-documento-vendedor.js" type="text/javascript"></script>
        <script src="/app/controller/cadastro-documento-procurador.js" type="text/javascript"></script>
        <script src="/app/controller/autenticacao-controller.js" type="text/javascript"></script>
        <script src="/app/service/authentication.js" type="text/javascript"></script>
        



    </body>
</html>
